.calculator {
    width: 150px;
    text-align: center;
    color: #999;
}

.result {
    font-size: 3.0em;
    font-weight: bold;
    color: red;

}

.operator1 {
    font-size: 1.5em;
    font-weight: bold;
    color: black;

}

.operator2 {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;

}

.addition-button {
    cursor: pointer;
    color: blue;
}
.substraction-button {
    cursor: pointer;
    color: green;
}

.division-button {
    cursor: pointer;
    color: rgb(0, 255, 234);
    font-size: 16px;
}

.multiplication-button {
    cursor: pointer;
    color: rgb(255, 0, 234);
    font-size: 20px;
}

.exp-button {
    cursor: pointer;
    color: rgb(4, 71, 43);
    font-size: 20px;
}

.sqr-button {
    cursor: pointer;
    color: rgb(4, 16, 71);
    font-size: 20px;
}

.sqrt-button {
    cursor: pointer;
    color: rgb(71, 61, 4);
    font-size: 20px;
}
